* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-family: Arial, sans-serif;
}

.titleText {
    font-size: 34px;
    font-weight: bold;
    color: rgba(17, 150, 79, 0.792);
    text-align: center;
    margin-bottom: 50px;
}

.addTodo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textInput {
    padding: 14px;
    background-color: rgba(194, 193, 193, 0.737);
    border-radius: 5px;
    border: none;
    width: 250px;
    font-size: larger;
}

.button {
    background-color: #007bff;
    border: none;
    margin-left: 5px;
    padding: 14px;
    width: 80px;
    font-weight: bold;
    font-size: larger;
    color: white;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

.containerTodoList {
    margin-top: 50px;
    width: 500px;
    padding: 50px auto;
    border: 1px solid black;
}

.Todo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: medium;
    padding: 8px;
}